.wrapper{
	padding:10px;
	min-height:900px;
}

form .line {
    margin-bottom: 2px;
}

.appform {
	    float: none;
    border: 1px solid #ddd; 
    padding: 30px 40px 20px 40px; 
    margin-top:25px;
    margin-left:auto;
    margin-right:auto;
    width: 368px;
    background: #fff;
    min-height:540px;
    -webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;

	-webkit-box-shadow: 0px 0 30px #1A1A1A;
	-moz-box-shadow: 0px 0 30px #1A1A1A;
	box-shadow: 0px 0 30px #1A1A1A;
}
.myClass input[type="text"]{
    background-color: #fff;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border linear .2s, box-shadow linear .2s;
	-moz-transition: border linear .2s, box-shadow linear .2s;
	-o-transition: border linear .2s, box-shadow linear .2s;
	transition: border linear .2s, box-shadow linear .2s
    
}
 .myClass.error {
    border:1px solid red;
  }
  
.well.span3 {
	min-height: 540px;
}
