/* 
    Document   : template
    Created on : 16.03.2013, 14:19:39
    Author     : Sashenka
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

.mincontainer
{
    min-width: 1200px;
}
 .checkbox-shift
{
    text-align: center;
}

.div-left
{
    float: left; 
    display: inline-block;
    width: 50%;
}
.templateSpan8
{
    width: 620px;
}
.table-template
{
    width: 99%;
    /*width: 750px;*/
}

.span-table
{
    width: 390px;
}

 .align-center
{
    text-align: center;
}
.table-font
{
    font-size: 10pt;
}

.width100
{
    width: 100%;
}

._img-size
{
    width: 25px;
    height: 25px;
}

.select-change
{
    width: 290px;
}
.shift-table
{
    margin-left: 50px;
}
.shift-div-right
{
    padding-left: 60px;
    width: 500px;
    margin-left: 100px;
}

.position-right
{
    text-align: right;
}

.trReques
{
    background: #FFB3BE;
}

.trDate
{
    background: lavender;
}

.width96
{
    width: 96%;
}

.title-color
{
   color: #08c;
}

.appForm-format
{
    margin-top: 20px;
    width: 800px;
    margin-left: 200px;
    font: 18pt;     
}


 .line 
 {
     margin-top: 25px;
    text-align: center; /* Выравниваем текст по центру */
    border-top: 1px  #000; /* Параметры линии  */
    border-top-style: solid;
    height: 20px; /* Высота блока */
   }
   .line:after 
   { 
    content: "(ФИО, подпись)"; 
    font-family: Arial, sans-serif; /* Рубленый шрифт для надписи */
    font-size: 12px; /* Размер шрифта */
    vertical-align: top; /* Выравнивание по верхнему краю */
   }
   .shift20
   {
       padding-left: 20px;
   }
   
   .shift55
   {
       padding-left: 55px;
   }
   .table-int
   {
       width: 100%;
       border: 1px solid black;
       border-collapse: collapse;
   }
   
   .table-int td
   {
       border: 1px solid black;
       height: 20px;
   }
   
   .table-int th
   {
       border: 1px solid black;
       height: 20px;
   }
   
   .select-min-width
   {
       min-width: 100px;
   }
   
   .p-apForm
   {
       font-size: 17px;
   }
   
   .align-left
   {
       text-align: left;
   }
   
   .loading
   {
       position:absolute;  
       padding-left: 170px;
       
   }
   .loading-img
   {
       width: 400px;
       height: 400px;
   }
